---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
SpaceBeforeParens: Never
IndentCaseLabels: false
PointerAlignment: Right
SortIncludes: false
InsertBraces: true
AccessModifierOffset: -4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterEnum: true
  AfterControlStatement: Never
  BeforeElse: false
  BeforeCatch: false
---
